.top_bar {
  display: flex;
  width: 100%;
  height: 80px;
  background: #fff;
}

.top_bar__menu {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-left: 100px;
}

.top_bar__title {
  color: #21303e;
  padding: 18px 0 0 20px;
}

.top_bar__menu_item {
  font-weight: bold;
  font-size: 13px;
  color: #4b6278;
  padding: 32px 5px 0;
}

.top_bar__menu_item--active {
  color: #6b8ca6;
  border-bottom: 2px solid #6b8ca6;
}

.top_bar__menu_item:hover {
  color: #353b48;
}
