/* reset */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

A, A:active, A:focus, BUTTON {
  outline: none;
}

LI {
  list-style: none;
}

#map-container {
  height: 100vh;
}

/* hierarchy */

.hierarchy {
  position: absolute;
  top:0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #fff;
  overflow-y: scroll;
}

.hierarchy__current {
  position: relative;
  background: #4b6278;
  color:#fff;
  height: 300px;
}

.hierarchy__current__name {
  padding: 90px 0 0 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: serif;
}

.hierarchy__current__zoom_button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;
  background: none;
  color : #d0d7e7;
  font-size: 30px;
  cursor: pointer;
}

.hierarchy__curent__name__level {
  color: #484b53;
}

.hierarchy__current__type {
  padding: 0 0 20px 20px;
  letter-spacing: 1px;
  font-size: 14px;
  color: #dddce1
}

.hierarchy__current__data {
  position: absolute;
  bottom: 20px;
}

.hierarchy__current__data__container {
  padding: 0 0 0 20px;
}

.hierarchy__current__data__osm_id, .hierarchy__current__data__wikidata {
  color: #e4bd2a;
  font-size: 16px;
  text-decoration: none;
}

.hierarchy__current__data__level {
  color: #a8924a;
}

.hierarchy__current__data__wikidata:hover, .hierarchy__current__data__osm_id:hover {
  text-decoration: underline;
}

.hierarchy__category_title {
  padding: 20px 0 0 20px;
  font-weight: normal;
}

.hierarchy__loader {
  padding-left: 38px;
}

.hierarchy__secondary {
  margin: 0 0 10px 20px;
}

.hierarchy__secondary__empty {
  font-size: 12px;
  color: #888e94;
}

/* layer_selector */

.layer_selector {
  position: absolute;
  top: 80px;
  right: 0;
}

.layer_selector__action {
  display: block;
  width: 160px;
  padding: 10px 20px;
  color: #fff;
  background-color: #4b6278;
  text-align: left;
  transition: background-color .2s;
}

.layer_selector__action.layer_selector__action--active.disabled {
  color: #841919!important;
}

.layer_selector__action.disabled {
  color: #a2a2a2
}

.layer_selector__action:hover {
  background-color: #7996ab;
}

.layer_selector__action--active {
  background-color: #dfe6ef;
  color:#121314;
}

.layer_selector__action--active:hover {
  background-color: #d0d7e7;
  color:#121314;
}

/* sub */

.sub__name {
  font-weight: normal;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  line-height: 22px;
}

.sub__name:hover {
  color:#4b6278;
  text-decoration: underline;
}

/* list & sub-list */

.child {
  list-style: none;
  margin-left: 10px;
  border-left: 1px solid #309e9d54;
}

.child__toggle {
  background: none;
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
}

.child__toggle:hover {
  color: #4b6278;
}

.child__toggle--disabled {
  color: #bdc4cc;
  cursor:default;
}

.child__toggle--disabled:hover {
  color:#bdc4cc;
}

.child__name {
  cursor: pointer;
}

.child__name:hover {
  color:#4b6278;
  text-decoration: underline;
}

/* modal */
.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal__title {
  margin: 20px;
  font-size: 22px;
  font-weight: normal;
}

.modal__overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
}

.modal__content {
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 200px);
  background: #fff;
  height: 300px;
  width: 400px;
  margin: auto;
}

.modal__hierarchies {
  margin-top: 30px;
}

.modal__hierarchy {
  padding: 4px 20px;
  cursor: pointer;
}

.modal__hierarchy:hover {
  background: #f8fafc;
  color: #4b6278;
}

.modal__fade-enter-active, .modal__fade-leave-active {
  transition: opacity .2s;
}

.modal__fade-enter, .modal__fade-leave-to {
  opacity: 0;
}

.modal__admin_level {
  font-size: 14px;
  color: #31404e;
}

/* top bar */

.top_bar {
  display: flex;
  position: absolute;
  top:0;
  width: 100%;
  height: 80px;
  background: #fff;
}

.top_bar__menu {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-left: 100px;
}

.top_bar__title {
  color: #21303e;
  padding: 18px 0 0 20px;
}

.top_bar__menu_item {
  font-weight: bold;
  font-size: 13px;
  color: #4b6278;
  padding: 32px 5px 0;
}

.top_bar__menu_item A {
  color: #4b6278;
  text-decoration: none;
}

.top_bar__menu_item--active {
  color: #6b8ca6;
  border-bottom: 2px solid #6b8ca6;
}

.top_bar__menu_item:hover {
  color: #353b48;
}